@import "../../global.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

.about {
  font-size: 16px;
  font-family: sans-serif;

  @include mobile {
    margin-top: -190px;
  }

  @include below_400px {
    top: -100px;
  }

  @include below_350px {
    top: -80px;
  }
}

.progress-badge {
  font-size: 20px;
}

.progress {
  height: 15px;
  position: relative;

  span {
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: green;
    position: absolute;
    right: 0;
  }

  .progress-bar {
    background-color: brown;
    height: 20px;
  }
}
