@import "../../global.scss";

.contact {
  .container {
    width: 100vw;
    border-radius: 9px;
    border: 1px solid black;

    @include mobile {
      border: none;
    }

    .contents {
      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .form_section {
        label {
          font-size: 0.8rem;
          // display: inline;
        }

        form {
          padding: 8px;
          border-radius: 20px;

          @include mobile {
            border: 0.2px solid black;
          }
          input {
            height: 36px;
          }

          button {
            height: 50px;
            margin-top: 20px;
            display: block;
            margin: auto;
          }
        }
      }

      .contact_address {
        .card-body {
          width: 500px;

          @include mobile {
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
          }

          h6 {
            font-weight: bold;
            font-style: oblique;
            text-align: center;
            @include mobile {
              text-align: start;
            }

          }

          .text-container {
            .text-container p {
              font-size: 0.8rem;
            }

            i {
              margin-right: 8px;
              opacity: 0.7;

              @include mobile {
                margin-right: 8px;
              }
            }
          }

          .social_media_links{
            // background-color: yellow;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mobile {
             
               display: block;
            }
          
  
            svg{
              width: 50px;
              height: 50px;
              margin: 5px;
              color: grey;

              @include mobile {
                width: 30px;
                height: 30px;
              }

            }

          }
        }
      }
    }
  }
}
